name: Deploy to EC2

on:
  workflow_call:
    inputs:
      image_tag:
        required: true
        type: string
    # secrets:
    #   EC2_SSH_KEY:
    #     required: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: dev

    steps:
      - name: Debug SSH Key
        run: |
          echo "Checking if SSH key exists..."
          if [ -n "${{ secrets.EC2_SSH_KEY }}" ]; then
            echo "SSH key is present in vars"
            echo "Key starts with: $(echo '${{ secrets.EC2_SSH_KEY }}' | head -c 30)"
            echo "Key ends with: $(echo '${{ secrets.EC2_SSH_KEY }}' | tail -c 30)"
          else
            echo "SSH key is empty or missing!"
          fi

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{vars.SERVER_IP }}
          username: ${{vars.SERVER_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/ubuntu/prod_CI
            git checkout dev
            git pull origin dev
            make rebuild
            make clean

      - name: Rollback if failure or cancel
        if: failure() || cancelled()
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ vars.SERVER_IP }}
          username: ${{ vars.SERVER_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/ubuntu/prod_CI
            make rollback
