name: Scan Docker Image

on:
  workflow_call:
    inputs:
      image:
        required: true
        type: string
      image_tag:
        required: true
        type: string
      environment:
        required: true
        type: string


jobs:
  trivy-scan:
    name: Trivy Vulnerability Scan
    runs-on: ubuntu-latest

    steps:
      - name: Install Trivy
        run: |
          sudo apt-get update
          sudo apt-get install -y wget
          wget https://github.com/aquasecurity/trivy/releases/download/v0.68.2/trivy_0.68.2_Linux-64bit.deb
          sudo dpkg -i trivy_0.68.2_Linux-64bit.deb

      - name: Download Docker image artifact
        uses: actions/download-artifact@v4
        with:
          name: docker-image-${{ inputs.image_tag }}

      - name: Load Docker image
        run: |
          echo "Loading image from ${{ inputs.image }}-${{ inputs.image_tag }}.tar"
          docker load -i ${{ inputs.image }}-${{ inputs.image_tag }}.tar

      - name: Scan image with Trivy
        continue-on-error: true
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ inputs.image }}:${{ inputs.image_tag }}
          format: table
          severity: HIGH,CRITICAL
          output: trivy-report.txt
          exit-code: 1
          vuln-type: os,library

      - name: Upload Trivy Scan Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: trivy-report-${{ inputs.environment }}
          path: trivy-report.txt
